version: "3.9"

services:
  db:
    image: postgres
    ports:
      - "5435:5434"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "db"
    volumes:
      - pgdata:/var/lib/postgresql/data

  db_test:
    image: postgres
    ports:
      - "5435:5434"
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: "db_test"
    volumes:
      - pgdata_test:/var/lib/postgresql/data

  redis:
    image: redis:6.2
    command: ["redis-server", "--requirepass", "redis"]
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data

  backend_app:
    build: .
    depends_on:
      - db
      - redis
    ports:
      - "8080:8080"
      - "9229:9229"
    stdin_open: true
    tty: true

volumes:
  pgdata:
  pgdata_test:
  redis_data:
